.selectContainer{
  margin-left: auto;
  margin-right: 0;
  width: 200px;
}

.gridContainer{
  margin-top: 12px;
}

.sortOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.courseCard {
  border: 2px solid black;
}

.courseCard:hover {
  transform: scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}
