.selectContainer {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.selectLabel {
  font-size: 13px;
  font-weight: 600;
  color: #4b5563;
  white-space: nowrap;
}

.gridContainer{
  margin-top: 12px;
}

.sortOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.courseCard {
  border: 2px solid black;
}

.courseCard:hover {
  transform: scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}
