.container {
  padding: 48px 20px;
  text-align: center;
}

.title {
  font-size: 40px;
  margin-bottom: 12px;
}

.description {
  font-size: 18px;
  margin-bottom: 24px;
}

.homeButton {
  border: 0;
}
