* {
    /* border: 1px solid black; */
}

.flex {
    text-align: left;
    /* border: 2px solid black;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #f9f9f9; */
}

.courseName {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.label {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: gray;
}

.courseDetail {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}

.link{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
}