* {
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  margin-bottom: 16px;
  border: 2px solid black;
  padding: 16px;
  border-radius: 0.25rem;
  background-color: white;
}

.tab:where([data-active]) {
  border-bottom: 3px solid var(--mantine-color-brick-red-5);
}

.tab:hover {
  background-color: #3333331b;
}

.tabs {
  margin-bottom: 20px;
}

.tabsList::before {
  border: 0px;
}

.search,
.select {
  margin-bottom: 20px;
}

.searchInput,
.selectInput {
  border: 2px solid black;
  max-width: 500px;
}

.searchButton {
  border: 2px solid black;
}