.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 4px;
  z-index: 1000;
  background-color: #F4DEA9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header * {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;

  align-items: center;
  justify-content: space-between;

}

.navBox {
  padding: 10px 0;
}

.navItem {
  position: relative;
  padding: 8px;
  color: gray;
  font-size: 18px;
  font-weight: 700;
}

.navItem.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 3px;
  background: black;
}

.navItem.active {
  color: black;
}

.navItem:hover {
  background-color: #3333331b;
}

.logo {
  max-height: 40px;
}

.authButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.authButton a {
  padding: 10px;
  font-weight: 700;
}

/* 手機端 */
.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.mobileLink {
  border-bottom: 1px solid #eee;
  padding: 10px 10px;

  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.mobileLink:hover {
  background-color: #3333331b;
}

.mobileAuthButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mobileAuthButton a {
  padding: 10px;
  font-weight: 700;
}