.container {
  margin: 0 auto;
  max-width: 800px;
  padding-inline: 0;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.list {
  text-align: left;
}
