.container {
  margin: 0 auto;
  max-width: 800px;
  padding-inline: 0;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #000000;
  text-align: left;
  padding-left: 12px;
  border-left: 4px solid var(--mantine-color-brick-red-5);
}

.list {
  text-align: left;
}
